body {
   width: 450px;
}

.container {
   margin: 0 25px;
}

form>ul {
   list-style: none;
   padding: 0;
}

form>ul>li,
div.between {
   padding: 8px 0;
}

div.between {
   display: grid;
   grid-template-columns: 1fr auto;
}

div.between h2 {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   text-transform: capitalize;
   display: inline-block;
}

div.between a {
   padding: 5px;
}

form>ul>li.item {
   display: grid;
   grid-template-columns: [left info] 1fr [right opt];
}

/* form>ul>li.item:not(:last-child) { */
form>ul>li.item {
   border-top: 1px solid var(--li-item);
}

form>ul>li.item[data-dependent] {
   transition: background-color 500ms ease-out;
}

form>ul>li.item[data-dependent].hide {
   background-color: #2196f3;
}

.info {
   grid-column: info;
}

.opt {
   grid-column: opt;
   align-self: center;
   justify-self: center;
}

label {
   cursor: pointer;
}

label>span {
   display: block;
   color: grey;
   font-size: 12px;
}

/* label>span>q {
   font-style: italic;
   color: #006b9e;
   quotes: "\00ab""\00bb";
} */

label>span>code {
   font-size: 11px;
   color: darkslateblue;
}

hr {
   margin: 5px auto 8px;
}

h2 {
   font-weight: normal;
   margin: 0;
}

.warn {
   color: #ff2525;
}

input[type=number] {
   width: 3em;
}
