body {
   min-width: 300px;
   max-width: 340px;
   background-color: #1c1c1c;
   color: #23292f;
}

.container {
   background: #f5f5f5;
}

input[type=search] {
   width: -webkit-fill-available;
   border: 1px solid #ddd;
   padding: 5px;
}

input[type=search]:focus {
   border: 1px solid deepskyblue;
}

button {
   border-radius: 0;
   height: auto;
   padding: 8px;
   line-height: normal;
}

#info:empty {
   display: none;
}

#info {
   text-align: center;
   font-family: monospace;
   color: #4494fd;
   letter-spacing: .2em;
}

#info:after {
   content: '」'
}

#info:before {
   content: '「'
}

.between {
   display: grid;
   grid-template-columns: 1fr auto;
}

.showFolder {
   text-align: center;
   background-color: #fff;
   border: 1px solid #ddd;
   padding: 5px 0 3px;
   /* text-transform: uppercase;
   font-size: 11px; */
}

.showFolder>a {
   color: #3d3d3d;
   text-decoration: none;
}

.showFolder>a:hover {
   text-decoration: underline;
}

form ol,
form ul {
   list-style: none;
   padding: 0;
   margin: 0;

   overflow-x: hidden;
   overflow-y: auto;
   max-height: 350px;
}

form li.item {
   word-break: break-all;
   word-wrap: break-word;
   border-bottom: 1px solid #dedede;
   padding: 5px;
   display: grid;
   grid-template-areas:
      "progress progress"
      "control info";
   grid-template-columns: [left control] auto [right info] 1fr;
   color: #757575;
}

li.item.erase {
   animation: hiddenLeft 0.6s 0.1s forwards;
}

@keyframes hiddenLeft {
   100% {
      transform: translate(80%, 0);
      margin: 0;
      padding: 0;
      border: none;
      height: 0;
      opacity: 0;
      visibility: collapse;
      display: none;
      /* position: absolute; */
   }
}

li.item .control {
   grid-area: control;
   align-self: center;
   justify-self: center;
   text-align: center;
   width: 32px;
   height: 32px;
}

li.item .control a {
   /* fix to tooltip */
   display: block;
}

li.item .control button {
   padding: 0;
   max-width: 30px;
   max-height: 30px;
   outline: none;

   border: 1px solid #cccccc;
   background: #ffffff;
}

li.item .info {
   grid-area: info;
   display: grid;
   margin-left: 5px;
}

li.item .progress {
   grid-area: progress;
   height: 5px;
   margin-bottom: 3px;
}

li.item .info a {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   width: max-content;

   color: #565357;
   text-decoration: none;
}

li.item .info a[href]:hover {
   /* white-space: unset;
   width: unset; */
   color: #565357;
   text-decoration: none;
}

li.item .info .status {
   color: #666;
   font-size: 11.5px;
}

li.item[state="complete"] a:not([href]),
li.item[state="deleted"] a,
li.item[state="interrupted"] a {
   text-decoration: line-through;
}

li.item a[href]:hover {
   text-decoration: underline;
}
