body {
   min-width: 450px;
}

.container {
   margin: 5px 25px;
   position: relative;
}

.container>div.item {
   padding: 8px 0;
}

/* .container>div.item:not(:last-child) {
   border-bottom: 1px solid #e0e0e0;
} */

.container>div.item.containerL:not(:last-child) {
   border-top: 1px solid #e0e0e0;
}

.containerL>div.item:last-child {
   margin: 0 5px;
}

label {
   cursor: pointer;
}

label>span {
   display: block;
   color: grey;
   font-size: 12px;
}

label>span>q {
   font-style: italic;
   color: #006b9e;
   quotes: "\00ab" "\00bb";
}

.containerL {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.containerR {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

hr {
   margin: 5px auto 8px;
}

h2 {
   font-weight: normal;
   margin: 0;
}

div.between {
   justify-content: space-between;
   display: flex;
   flex-direction: row;
}

div.between>a {
   align-self: center;
}
