/** {
  box-sizing: border-box;
}*/
/*
body {
  background: url(http://subtlepatterns.com/patterns/use_your_illusion.png);
  color: #eee;
  font: 1em 'PT Sans', sans-serif;
}*/

.tabbed {
  /*width: 700px;
  margin: 50px auto;*/
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  float: left;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s;
  text-transform: capitalize;

}

.tabbed > label:hover,
.tabbed > input:checked + label {
  /*background: #4EC6DE;*/
  border-bottom: 2px solid #4EC6DE;
}

/*.tabbed > label:not(:hover) {
  border: none;
  border-bottom: 2px solid #fff;
}*/

.tabs {
  clear: both;
  /*perspective: 600px;*/
}

.tabs > div {
  line-height: 1.4em;
  opacity: 0;
  position: absolute;
  /*width: 700px;
  border: 2px solid #4EC6DE;
  padding: 10px 30px 40px;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;*/
  z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
  position: relative;
}
/*
@media screen and (max-width: 700px) {
  .tabbed { width: 400px }
  .tabbed > label { display: none }
  .tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #4EC6DE;
    padding-bottom: .5em;
  }
}*/
